<h1>Manage Users </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  	<% @users.each do |user| %>
  	  <tr class="table-primary">
        <th scope="row"><%= user.full_name %></th>
        <td><%= user.email %></td>
        <td><%= link_to  "Edit", admin_dashboard_edit_user_details_path(id: user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
