<!DOCTYPE html>
<html>
  <head>
    <div class="jumbotron">
      <h1 class="display-3">Welcome to HawkQB</h1>
      <p class="lead">HawkQB is an online practice system which allows you to make exercise questions, take exercise
        and analyse your competencies. It emphasize a hands-on approach to learning, meaning students must interact
        with their environment in order to adapt and learn.</p>
      <hr class="my-4">

      <blockquote class="blockquote text-center">
        <p class="mb-0">I hear and I forget. I see and I remember. I do and I understand.</p>
        <footer class="blockquote-footer">Confucius <cite title="Source Title"> ~500 BC</cite></footer>
      </blockquote>

    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>