<h1>Micro credential associated to course: <%= @course.title %></h1>


<h3> Micro credentials used in this course</h3>
<%=@used_micro_credentials.inspect %>

<h3> Micro credentials avialable to be added to this course</h3>

<%=@available_micro_credentials  %>