<p id="notice"><%= notice %></p>

<% if logged_in?(:admin) or logged_in?(:instructor) and current_user.owns(@micro_credential) %>
  <%= link_to 'Edit', edit_micro_credential_path(@micro_credential) %>
<% end %>